@model RegistrationFormRequest


<form class="edit-form" method="post" asp-action="Register" enctype="multipart/form-data">

    <div hidden>
        <input asp-for="Id" name="Id" />
    </div>
    <div class="row pb-2">
        <h2 class="text-primary">Полная регистрация</h2>
        <hr />
    </div>

        <div class="input-box">
            <span asp-validation-for="CurrentWorkingPlace" class="details">Место работы в настоящее время</span>
            <input asp-for="CurrentWorkingPlace" name="CurrentWorkingPlace" type="text" placeholder="РХТУ" required>
        </div>
        <div class="input-box">
            <span asp-validation-for="CurrentPosition" class="details">Занимаемая должность</span>
            <input asp-for="CurrentPosition" name="CurrentPosition" type="text" placeholder="Директор" required>
        </div>
        <div class="input-box">
            <span asp-validation-for="SignificantAchievements" class="details">Значимые научные/профессиональные достижения</span>
            <textarea asp-for="SignificantAchievements" name="SignificantAchievements" type="text" rows="6" placeholder="Развернутый ответ" required></textarea>
        </div>

        <div class="input-box">
            <span asp-validation-for="GraduatesOfMUCTRMHTI" class="details">Есть ли в Вашей семье выпускники РХТУ - МХТИ?</span>
            <select asp-for="GraduatesOfMUCTRMHTI" name="GraduatesOfMUCTRMHTI" class="family-select">
                <option value="Нет">Нет</option>
                <option value="Родители">Родители</option>
                <option value="Дети">Дети</option>
                <option value="Другое">Другое</option>
            </select>
        </div>

        <div class="input-box">
            <span asp-validation-for="Hobby" class="details">Хобби, увлечения</span>
            <input asp-for="Hobby" name="Hobby" type="text" placeholder="Баскетбол" required>
        </div>

        <div class="file-button">
            <span asp-validation-for="Photo" class="details">Загрузите Ваше выпускное фото (при желании)</span>
            <br>
            <label for="upload-file">Загрузить файл</label>
            <input asp-for="Photo" name="Photo" type="file" id="upload-file">
        </div>

        <div class="input-box">
            <span asp-validation-for="Email" class="details">Адресс электронной почты</span>
            <input asp-for="Email" name="Email" type="email" placeholder="example@muctr.ru" required>
        </div>
        <div class="input-box">
            <span asp-validation-for="Phone" class="details">Контактный телефон</span>
            <input asp-for="Phone" name="Phone" type="tel" placeholder="+7 (999) 999-99-99" required>
        </div>

    </div>

    <div class="reg-checkboxes">
        <div class="check-box">
            <input asp-for="Subscription" name="Subscription" type="checkbox" id="mailing">
            <label for="mailing">Подписаться на рассылку новостной информации</label>
        </div>

        <div class="check-box">
            <input asp-for="LiveOfAssociation" name="LiveOfAssociation" type="checkbox" id="activist" value="true">
            <label for="activist">Хочу активно участвовать в жизни ассоциации</label>
        </div>

        <div class="check-box">
            <input asp-for="FunSaturday" name="FunSaturday" type="checkbox" id="saturday" value="true">
            <label for="saturday">Хочу выступить на "Нескучной субботе"</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" style="width:200px">Зарегестрироваться</button>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }
