@model Lecture

<div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
        <li>
            <a asp-controller="Home" asp-action="Index" type="submit">Главная</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Index" type="submit">Все таблицы</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Logout" type="submit">Выйти</a>
        </li>
    </ul>
</div>

<form class="edit-form" method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="row pb-2">
        <h2 class="text-primary">Редактирование лекции</h2>
        <hr />
    </div>

    <input asp-for="Id" name="Id" hidden />

    <div class="user-details">
        <div class="input-box">
            <span asp-validation-for="Title" class="details">Заголовок</span>
            <input asp-for="Title" name="Title" placeholder="Заголовок" required>
        </div>
    </div>

    <div class="user-details">
        <div class="input-box">
            <span asp-validation-for="Url" class="details">Ссылка</span>
            <input asp-for="Url" name="Url" placeholder="Ссылка" required>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" style="width:200px">Обновить</button>
    <a asp-controller="Lecture" asp-action="Index" class="btn btn-secondary" style="width:200px">Вернуться</a>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }