@model RegistrationForm

<form method="post">
    <div class="pt-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Добавить анкету</h2>
            <hr />
        </div>

    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
