@model RegistrationFormRequest

<div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
        <li>
            <a asp-controller="Home" asp-action="Index" type="submit">Главная</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Index" type="submit">Все таблицы</a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Logout" type="submit">Выйти</a>
        </li>
    </ul>
</div>

<form class="edit-form" method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="row pb-2">
        <h2 class="text-primary">Редактирование анкеты</h2>
        <hr />
    </div>

    <<div class="user-details">
        <div class="input-box">
            <span asp-validation-for="FCs" class="details">Фамилия Имя Отчество</span>
            <input asp-for="FCs" name="Fcs" placeholder="Иванов Иван Иванович" required>
        </div>
    </div>
    <div class="user-details">

        <div class="input-box">
            <span asp-validation-for="FCsгUniversity" class="details">Фамилия в период обучения</span>
            <input asp-for="FCsгUniversity" name="FCsгUniversity" type="text" placeholder="Иванов Иван Иванович" required>
        </div>
    </div>

    <div class="user-details">
        <div class="input-box">
            <span asp-validation-for="Birthday" class="details">Дата рождения</span>
            <input asp-for="Birthday" name="Birthday" type="date" id="birthday-date">
        </div>

        <div class="input-box">
            <span asp-validation-for="Faculty" class="details">Факультет/кафедра</span>
            <input asp-for="Faculty" name="Faculty" type="text" placeholder="ЦИТХиН">
        </div>

        <div class="input-box">
            <span asp-validation-for="EndUniversityTime" class="details">Год окончания университета</span>
            <select asp-for="EndUniversityTime" class="family-select" name="EndUniversityTime" id="ending-year" required>
                @{
                    for (int year = DateTime.Now.Year; year >= 1920; year--)
                    {
                            <option value=@year>@year</option>
                    }
                }
            </select>
        </div>

        <div class="input-box">
            <span asp-validation-for="CurrentWorkingPlace" class="details">Место работы в настоящее время</span>
            <input asp-for="CurrentWorkingPlace" name="CurrentWorkingPlace" type="text" placeholder="РХТУ">
        </div>
        <div class="input-box">
            <span asp-validation-for="CurrentPosition" class="details">Занимаемая должность</span>
            <input asp-for="CurrentPosition" name="CurrentPosition" type="text" placeholder="Директор">
        </div>
        <div class="input-box">
            <span asp-validation-for="SignificantAchievements" class="details">Значимые научные/профессиональные достижения</span>
            <textarea asp-for="SignificantAchievements" name="SignificantAchievements" type="text" rows="6" placeholder="Развернутый ответ"></textarea>
        </div>

        <div class="input-box">
            <span asp-validation-for="GraduatesOfMUCTRMHTI" class="details">Есть ли в Вашей семье выпускники РХТУ - МХТИ?</span>
            <select asp-for="GraduatesOfMUCTRMHTI" name="GraduatesOfMUCTRMHTI" class="family-select">
                <option value="Нет">Нет</option>
                <option value="Родители">Родители</option>
                <option value="Дети">Дети</option>
                <option value="Родственники">Родственники</option>
            </select>
        </div>

        <div class="input-box">
            <span asp-validation-for="Hobby" class="details">Хобби, увлечения</span>
            <input asp-for="Hobby" name="Hobby" type="text" placeholder="Баскетбол">
        </div>

        <div hidden>
            <input asp-for="PhotoUrl" name="PhotoUrl"/>
        </div>

        <div class="file-button">
            <span asp-validation-for="Photo" class="details">Загрузите Ваше выпускное фото или актуальное фото (при желании)</span>
            <br>
            <label for="upload-file">Загрузить файл</label>
            <input asp-for="Photo" name="Photo" type="file" id="upload-file">
        </div>

        <div class="input-box">
            <span asp-validation-for="Email" class="details">Адресс электронной почты</span>
            <input asp-for="Email" name="Email" type="email" placeholder="example@muctr.ru" required>
        </div>
        <div class="input-box">
            <span asp-validation-for="Phone" class="details">Контактный телефон</span>
            <input asp-for="Phone" name="Phone" type="tel" placeholder="+7 (999) 999-99-99">
        </div>

    </div>

    <div class="reg-checkboxes">
        <div class="check-box">
            <input asp-for="Subscription" name="Subscription" type="checkbox" id="mailing">
            <label for="mailing">Подписаться на рассылку новостной информации</label>
        </div>

        <div class="check-box">
            <input asp-for="LiveOfAssociation" name="LiveOfAssociation" type="checkbox" id="activist" value="true">
            <label for="activist">Хочу активно участвовать в жизни ассоциации</label>
        </div>

        <div class="check-box">
            <input asp-for="FunSaturday" name="FunSaturday" type="checkbox" id="saturday" value="true">
            <label for="saturday">Хочу выступить на "Нескучной субботе"</label>
        </div>
    </div>

    <div claclass="reg-checkboxes">
        <div class="check-box">
            <input asp-for="IsVerified" name="IsVerified" type="checkbox" id="is-verified" value="true">
            <label for="is-verified">Заявка одобрена</label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" style="width:200px">Обновить</button>
    <a asp-controller="Registration" asp-action="Index" class="btn btn-secondary" style="width:200px">Вернуться</a>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
    }
